body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main-con{
    position: relative;
    background-image: url('bg.jpg');
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    object-fit: contain!important;
    height: 100vh;
    min-width: 100vh;
    width: 100%;
    justify-content: center;
}

.main-con-rg{
    max-width: 100vh;
    max-height: 100vh;
    background-color: blue;
}
.con-res{
    height: 100%;
    min-width: 90vh;
    background-color: #fff;
}

.con-in{
    position: relative;
}

.line{
    background-color: RGBA(0,0,0,0.5);
    width: 0.2rem;
    height: 95%;
    display: inline-block;
}
.name{
    text-align: right;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 2.3rem;
    text-transform: capitalize;
    line-height: 3rem;
}

.soc-con{
    color: RGBA(0,0,0,0.66);
}
.soc-name{
    font-size: 0.9rem;
}
.social{
    border-radius: 0.3rem;
}

.titles{
    font-size: 1.2rem;
    background-color: Gold;
}

.un{
    /*text-decoration: underline;*/
    padding-bottom: 0.3rem;
}

.desc{
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 100;
}

.sub-title{
    font-size: 0.9rem;
}
.qual{
    font-size: 0.8rem;
    color: #001;
    font-weight: 100;
}

.desc-edu{
    font-size: 0.8rem;
    color: #001;
    font-weight: 100;
}

.skills{
    position: relative;
}

.list{
    font-size: 1rem;
    color: grey;
}

.prof-name{
    font-size: 1rem;
    font-weight: 300;
    text-align: right;
    margin-top: -0.8rem;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.pagination-con{
    position: absolute;
    bottom: 0.5rem;
}

.details-con{
    position: relative;
}

.pagination a{
    color: #fff;
    padding: 0.4rem;
    text-decoration: none;
    float: left;
}

.pagination a.active{
    background-color: grey;
    color: #fff;
}
.pagination a:hover:not(.active){
    background-color: #fff;
}
